spring:
  application:
    name: urbannest
  profiles:
    active: local
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate

server:
  servlet:
    context-path: /api

firebase:
  service-account-file: firebase-service-account.json