spring:
  application:
    name: urbannest
  datasource:
    url: jdbc:postgresql://localhost:5432/urbannest
    username: postgres
    password: password
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate

server:
  servlet:
    context-path: /api

firebase:
  service-account-file: firebase-service-account.json