name: Build Check

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v6
            
            - name: Set up Java 21
              uses: actions/setup-java@v5.2.0
              with:
                distribution: 'corretto'
                java-version: '21'
                cache: 'gradle'
            
            - name: Grant execution permission to Gradle wrapper
              run: chmod +x ./gradlew
                
            - name: Build
              run: ./gradlew build -x test --no-daemon